---
import {IconTableFilled} from '@tabler/icons-react'

const menu = [
  {label: 'Ventas', href: '/sales', Icon: IconTableFilled},
  {label: 'Inversiones', href: '/invests', Icon: IconTableFilled},
]

const pathName = Astro.url.pathname
---

<header>
  <div class="m-auto flex w-full justify-center pt-8">
    <div class="boder rounded-2xl border-2 border-solid border-slate-700 p-2 px-3">
      {
        menu.map(({label, Icon, href}) => (
          <a
            class:list={[
              'inline-flex scale-90 cursor-pointer flex-row items-center justify-center gap-x-2 rounded-lg px-5 py-2.5 text-center font-medium text-white opacity-90 transition-all duration-200 ease-in-out hover:scale-110 hover:bg-primary-main hover:opacity-100 hover:shadow-lg focus:outline-none focus:ring-4 focus:ring-primary-light/50 not-last-child:mr-2',
              {'bg-primary-main opacity-100 shadow-lg': pathName === href},
            ]}
            href={href}
          >
            <Icon size={20} />
            {label}
          </a>
        ))
      }
    </div>
  </div>
</header>
